<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardFacil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="/css/perfil.css">
    {{{_sections.head}}}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <i class="fas fa-utensils"></i> 
                    <span>card</span>Fácil
                </a>
            </div>
            <nav class="main-nav">
                <ul>
                    {{#if _sections.headerLinks}}
                        {{{_sections.headerLinks}}}
                    {{else}}
                        {{#if user}}
                            <li><a href="/{{user.username}}/cadastro-pratos"><i class="fas fa-store"></i>Cadastrar pratos</a></li>
                            <li><a href="/restaurantes"><i class="fas fa-search-location"></i>Restaurantes</a></li>
                        {{else}}
                            <li><a href="/cadastro"><i class="fas fa-store"></i>Cadastrar restaurante</a></li>
                            <li><a href="/restaurantes"><i class="fas fa-search-location"></i>Restaurantes</a></li>
                        {{/if}}
                    {{/if}}

                </ul>
            </nav>
            <div class="hamburger-menu">
                <button id="hamburger-icon" aria-label="Menu Principal" aria-expanded="false" aria-controls="dropdown-menu">
                    <i class="fas fa-bars"></i> 
                </button>
                <div id="dropdown-menu" class="dropdown-content">
                    {{#if user}} 
                        <a href="/perfil">Meu Perfil ({{user.username}})</a> 
                        <a href="/logout">Logout</a>
                    {{else}}
                        <a href="/login">Login</a>
                        <a href="/cadastro">Cadastre-se</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    <main class="container">z
        {{{body}}}
        <div id="toast" class="toast">
            <div class="toast-content">
                <i class="fas fa-check-circle"></i>
                <span id="toast-message">tumtarara</span>
            </div>
        </div>
    </main>
    <script src="/js/menu.js"></script>
    {{{_sections.script}}}
</body>
</html>